In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import os

In [3]:
comm_df_path = "../DATASET_RAW/Dataset/Community_areas_in_Chicago_1.csv"
comm_df = pd.read_csv(comm_df_path)
comm_df.head()

   No.            Name      Population      Area Area.1    Density  Density.1
0  No.            Name  (2020)[update]  (sq mi.)  (km2)  (/sq mi.)     (/km2)
1   01     Rogers Park          55,628      1.84   4.77  30,232.61  11,672.81
2   02      West Ridge          77,122      3.53   9.14  21,847.59   8,435.36
3   03          Uptown          57,182      2.32   6.01  24,647.41   9,516.37
4   04  Lincoln Square          40,494      2.56   6.63  15,817.97   6,107.32

In [7]:
def getName(comm_no):
    return comm_df.iloc[comm_no]["Name"]

getName(25)

'Austin'

In [14]:
crime_dict = pickle.load(open("Processed_Metrics/comm_crime_dict.pkl", "rb"))
type(list(crime_dict)[0])

int

In [10]:
comm_areas = pickle.load(open("Processed_Metrics/comm_area_dict.pkl", "rb"))
comm_areas

{1: 4.77,
 2: 9.14,
 3: 6.01,
 4: 6.63,
 5: 5.31,
 6: 8.08,
 7: 8.18,
 8: 7.1,
 9: 2.93,
 10: 11.32,
 11: 6.03,
 12: 8.29,
 13: 6.53,
 14: 4.97,
 15: 10.23,
 16: 8.31,
 17: 9.63,
 18: 2.56,
 19: 10.13,
 20: 3.03,
 21: 5.13,
 22: 9.3,
 23: 9.32,
 24: 11.86,
 25: 18.52,
 26: 3.32,
 27: 5.0,
 28: 14.74,
 29: 8.31,
 30: 11.89,
 31: 7.59,
 32: 4.27,
 33: 4.61,
 34: 2.59,
 35: 4.27,
 36: 1.5,
 37: 1.84,
 38: 4.51,
 39: 2.69,
 40: 3.94,
 41: 4.17,
 42: 5.36,
 43: 7.59,
 44: 7.64,
 45: 3.24,
 46: 8.65,
 47: 1.58,
 48: 4.53,
 49: 12.48,
 50: 5.49,
 51: 28.23,
 52: 7.72,
 53: 9.22,
 54: 9.14,
 55: 13.57,
 56: 10.96,
 57: 5.21,
 58: 7.04,
 59: 3.65,
 60: 5.41,
 61: 12.51,
 62: 3.03,
 63: 5.7,
 64: 6.6,
 65: 7.64,
 66: 9.14,
 67: 8.16,
 68: 7.95,
 69: 9.19,
 70: 12.59,
 71: 9.76,
 72: 8.24,
 73: 7.41,
 74: 7.02,
 75: 8.55,
 76: 34.55,
 77: 4.51}

In [25]:
# generate a csv file with [Community No., Name, Total Crime, Total Area, Crime Density]

comm_crime_df = pd.DataFrame(columns=['Community No.', 'Community Name', 'Number of Crimes', 'Area (sq. km)', 'Density'])
for i in range(len(crime_dict)):
    comm_crime_df.loc[i] = [list(crime_dict)[i], getName(list(crime_dict)[i]), list(crime_dict.values())[i], list(comm_areas.values())[i], round(float(list(crime_dict.values())[i])/float(list(comm_areas.values())[i]), 2)]

comm_crime_df

   Community No.      Community Name  Number of Crimes  Area (sq. km)  Density
0              1         Rogers Park            4059.0           4.77   850.94
1              2          West Ridge            3478.0           9.14   380.53
2              3              Uptown            3369.0           6.01   560.57
3              4      Lincoln Square            1806.0           6.63   272.40
4              5        North Center            1276.0           5.31   240.30
..           ...                 ...               ...            ...      ...
72            73  Washington Heights            3224.0           7.41   435.09
73            74     Mount Greenwood             473.0           7.02    67.38
74            75         Morgan Park            1878.0           8.55   219.65
75            76              O'Hare            1689.0          34.55    48.89
76            77           Edgewater            2513.0           4.51   557.21

[77 rows x 5 columns]

In [26]:
# save the dataframe to a csv file
comm_crime_df.to_csv("Processed_Metrics/comm_crime_df.csv", index=False)

In [28]:
range5 = ['0 - 150', '150 - 300', '300 - 450', '450 - 600', '600 - above']

group5 = {"very_low" : [55, 76, 12, 51, 74, 9, 10, 72, 13, 52, 17, 64],
            "low" : [54, 57, 11, 56, 70, 50, 18, 75, 65, 59, 47, 5, 60, 4, 15, 62],
            "medium" : [16, 31, 48, 58, 61, 30, 63, 2, 34, 45, 33, 41, 21, 53, 36, 20, 19, 73, 14],
            "high" : [37, 46, 39, 49, 22, 7, 77, 3, 40],
            "very_high" : [66, 24, 28, 35, 42, 69, 6, 38, 68, 71, 25, 67, 1, 23, 44, 27, 29, 43, 8, 26, 32]
            }

denisty_5 = pd.DataFrame(columns=['Group', 'Range (crimes per sq. km)', 'Communities'])
for i in range(len(range5)):
    denisty_5.loc[i] = [list(group5)[i], range5[i], list(group5.values())[i]]

denisty_5

,Group,Range (crimes per sq. km),Communities
0,very_low,0 - 150,"[55, 76, 12, 51, 74, 9, 10, 72, 13, 52, 17, 64]"
1,low,150 - 300,"[54, 57, 11, 56, 70, 50, 18, 75, 65, 59, 47, 5..."
2,medium,300 - 450,"[16, 31, 48, 58, 61, 30, 63, 2, 34, 45, 33, 41..."
3,high,450 - 600,"[37, 46, 39, 49, 22, 7, 77, 3, 40]"
4,very_high,600 - above,"[66, 24, 28, 35, 42, 69, 6, 38, 68, 71, 25, 67..."

In [29]:
denisty_5.to_csv("Processed_Metrics/denisty_5.csv", index=False)

In [30]:
range3 = ['0 - 300', '300 - 600', '600 - above']

group3 = {"low" : [55, 76, 12, 51, 74, 9, 10, 72, 13, 52, 17, 64, 54, 57, 11, 56, 70, 50, 18, 75, 65, 59, 47, 5, 60, 4, 15, 62],
            "medium" : [16, 31, 48, 58, 61, 30, 63, 2, 34, 45, 33, 41, 21, 53, 36, 20, 19, 73, 14, 37, 46, 39, 49, 22, 7, 77, 3, 40],
            "high" : [66, 24, 28, 35, 42, 69, 6, 38, 68, 71, 25, 67, 1, 23, 44, 27, 29, 43, 8, 26, 32]
            }

denisty_3 = pd.DataFrame(columns=['Group', 'Range (crimes per sq. km)', 'Communities'])
for i in range(len(range3)):
    denisty_3.loc[i] = [list(group3)[i], range3[i], list(group3.values())[i]]

denisty_3

,Group,Range (crimes per sq. km),Communities
0,low,0 - 300,"[55, 76, 12, 51, 74, 9, 10, 72, 13, 52, 17, 64..."
1,medium,300 - 600,"[16, 31, 48, 58, 61, 30, 63, 2, 34, 45, 33, 41..."
2,high,600 - above,"[66, 24, 28, 35, 42, 69, 6, 38, 68, 71, 25, 67..."

In [31]:
denisty_3.to_csv("Processed_Metrics/denisty_3.csv", index=False)

# AREA

In [32]:
range3 = ["0-5", "5-10", "10-above"]
range5 = ["0-4", "4-6", "6-8", "8-10", "10-above"]

group3 = [[1, 9, 14, 18, 20, 26, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 45, 47, 48, 59, 62, 77], [2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 16, 17, 21, 22, 23, 27, 29, 31, 42, 43, 44, 46, 50, 52, 53, 54, 57, 58, 60, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75], [10, 15, 19, 24, 25, 28, 30, 49, 51, 55, 56, 61, 70, 76]]
group5 = [[9, 18, 20, 26, 34, 36, 37, 39, 40, 45, 47, 59, 62], [1, 5, 14, 21, 27, 32, 33, 35, 38, 41, 42, 48, 50, 57, 60, 63, 77], [3, 4, 8, 11, 13, 31, 43, 44, 52, 58, 64, 65, 68, 73, 74], [2, 6, 7, 12, 16, 17, 22, 23, 29, 46, 53, 54, 66, 67, 69, 71, 72, 75], [10, 15, 19, 24, 25, 28, 30, 49, 51, 55, 56, 61, 70, 76]]

In [33]:
area3 = pd.DataFrame(columns=['Group', 'Range (sq. km)', 'Communities'])
for i in range(len(range3)):
    area3.loc[i] = [i+1, range3[i], group3[i]]

area3

  Group Range (sq. km)                                        Communities
0     1            0-5  [1, 9, 14, 18, 20, 26, 32, 33, 34, 35, 36, 37,...
1     2           5-10  [2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 16, 17, 21, ...
2     3       10-above  [10, 15, 19, 24, 25, 28, 30, 49, 51, 55, 56, 6...

In [34]:
area3.to_csv("Processed_Metrics/area3.csv", index=False)

In [35]:
area5 = pd.DataFrame(columns=['Group', 'Range (sq. km)', 'Communities'])
for i in range(len(range5)):
    area5.loc[i] = [i+1, range5[i], group5[i]]

area5

  Group Range (sq. km)                                        Communities
0     1            0-4  [9, 18, 20, 26, 34, 36, 37, 39, 40, 45, 47, 59...
1     2            4-6  [1, 5, 14, 21, 27, 32, 33, 35, 38, 41, 42, 48,...
2     3            6-8  [3, 4, 8, 11, 13, 31, 43, 44, 52, 58, 64, 65, ...
3     4           8-10  [2, 6, 7, 12, 16, 17, 22, 23, 29, 46, 53, 54, ...
4     5       10-above  [10, 15, 19, 24, 25, 28, 30, 49, 51, 55, 56, 6...

In [36]:
area5.to_csv("Processed_Metrics/area5.csv", index=False)

# Store MAE MSE

### Area Wise

In [2]:
area_wise_mae_5 = [[0.8, 1.078529411764706, 1.3206666666666664, 1.3622222222222222, 1.4914285714285713],        # dc
[0.10168652818415058, 0.3490990912620941, 0.3824924110081083, 0.3904371409351746, 0.4168761062291672],          # aist
[0.8513933249848743, 0.7287293278386899, 0.7579156758734223, 0.7393604048533627, 0.733981812955656],            # mist
[0.999909313765674, 1.0141127246432007, 1.0051509785121964, 1.0088468954432122, 1.0171455219802192],            # sthsl
[0.9195108968278636, 0.6504670201134825, 0.7720428089701066, 0.6756139649199104, 0.6314133188170203],           # stshn
[0.5757419667556738, 0.5368863274656833, 0.5408560877452014, 0.5281731902886582, 0.5395637928373972],           # cf
[0.4576479567624507, 0.4995834932113938, 0.49865318620708626, 0.4995294251538965, 0.502064910408117]]           # hagen

area_wise_rmse_5 = [[1.0303098861694289, 2.0450082697948706, 2.5969212541007094, 2.104096533484674, 2.6039804695339566],
[0.34908230653275435, 0.7705889700091024, 0.815828167211807, 0.830581187116783, 0.90191212683325],
[0.9227097728890024, 0.8536564460242129, 0.8705835260751391, 0.8598606892127135, 0.8567273854357966],
[1.0195107565291806, 1.0506342524288395, 1.0349131079595966, 1.0361192438469518, 1.041136016854667],
[1.3440557764539411, 0.8762930006327705, 1.5323344522540256, 0.989941648215362, 0.7996535365907343],
[0.6621223294670331, 0.6114601591766704, 0.6178308901257804, 0.6004970276206996, 0.6114043641354082],
[0.5207419671653075, 0.5462090455696734, 0.5441608656951779, 0.5463104267191963, 0.5503285732214086]]

In [10]:
csv_content = pd.DataFrame(columns=['', '', 'Very Low', 'Low', 'Medium', 'High', 'Very High'])

csv_content.loc[0] = ['Deepcrime', 'MAE', round(float(area_wise_mae_5[0][0]), 2), round(float(area_wise_mae_5[0][1]), 2), round(float(area_wise_mae_5[0][2]), 2), round(float(area_wise_mae_5[0][3]), 2), round(float(area_wise_mae_5[0][4]), 2)]
csv_content.loc[1] = ['', 'RMSE', round(float(area_wise_rmse_5[0][0]), 2), round(float(area_wise_rmse_5[0][1]), 2), round(float(area_wise_rmse_5[0][2]), 2), round(float(area_wise_rmse_5[0][3]), 2), round(float(area_wise_rmse_5[0][4]), 2)]

csv_content.loc[2] = ['AIST', 'MAE', round(float(area_wise_mae_5[1][0]), 2), round(float(area_wise_mae_5[1][1]), 2), round(float(area_wise_mae_5[1][2]), 2), round(float(area_wise_mae_5[1][3]), 2), round(float(area_wise_mae_5[1][4]), 2)]
csv_content.loc[3] = ['', 'RMSE', round(float(area_wise_rmse_5[1][0]), 2), round(float(area_wise_rmse_5[1][1]), 2), round(float(area_wise_rmse_5[1][2]), 2), round(float(area_wise_rmse_5[1][3]), 2), round(float(area_wise_rmse_5[1][4]), 2)]

csv_content.loc[4] = ['MIST', 'MAE', round(float(area_wise_mae_5[2][0]), 2), round(float(area_wise_mae_5[2][1]), 2), round(float(area_wise_mae_5[2][2]), 2), round(float(area_wise_mae_5[2][3]), 2), round(float(area_wise_mae_5[2][4]), 2)]
csv_content.loc[5] = ['', 'RMSE', round(float(area_wise_rmse_5[2][0]), 2), round(float(area_wise_rmse_5[2][1]), 2), round(float(area_wise_rmse_5[2][2]), 2), round(float(area_wise_rmse_5[2][3]), 2), round(float(area_wise_rmse_5[2][4]), 2)]

csv_content.loc[6] = ['STHSL', 'MAE', round(float(area_wise_mae_5[3][0]), 2), round(float(area_wise_mae_5[3][1]), 2), round(float(area_wise_mae_5[3][2]), 2), round(float(area_wise_mae_5[3][3]), 2), round(float(area_wise_mae_5[3][4]), 2)]
csv_content.loc[7] = ['', 'RMSE', round(float(area_wise_rmse_5[3][0]), 2), round(float(area_wise_rmse_5[3][1]), 2), round(float(area_wise_rmse_5[3][2]), 2), round(float(area_wise_rmse_5[3][3]), 2), round(float(area_wise_rmse_5[3][4]), 2)]

csv_content.loc[8] = ['STSHN', 'MAE', round(float(area_wise_mae_5[4][0]), 2), round(float(area_wise_mae_5[4][1]), 2), round(float(area_wise_mae_5[4][2]), 2), round(float(area_wise_mae_5[4][3]), 2), round(float(area_wise_mae_5[4][4]), 2)]
csv_content.loc[9] = ['', 'RMSE', round(float(area_wise_rmse_5[4][0]), 2), round(float(area_wise_rmse_5[4][1]), 2), round(float(area_wise_rmse_5[4][2]), 2), round(float(area_wise_rmse_5[4][3]), 2), round(float(area_wise_rmse_5[4][4]), 2)]

csv_content.loc[10] = ['CF', 'MAE', round(float(area_wise_mae_5[5][0]), 2), round(float(area_wise_mae_5[5][1]), 2), round(float(area_wise_mae_5[5][2]), 2), round(float(area_wise_mae_5[5][3]), 2), round(float(area_wise_mae_5[5][4]), 2)]
csv_content.loc[11] = ['', 'RMSE', round(float(area_wise_rmse_5[5][0]), 2), round(float(area_wise_rmse_5[5][1]), 2), round(float(area_wise_rmse_5[5][2]), 2), round(float(area_wise_rmse_5[5][3]), 2), round(float(area_wise_rmse_5[5][4]), 2)]

csv_content.loc[12] = ['HAGEN', 'MAE', round(float(area_wise_mae_5[6][0]), 2), round(float(area_wise_mae_5[6][1]), 2), round(float(area_wise_mae_5[6][2]), 2), round(float(area_wise_mae_5[6][3]), 2), round(float(area_wise_mae_5[6][4]), 2)]
csv_content.loc[13] = ['', 'RMSE', round(float(area_wise_rmse_5[6][0]), 2), round(float(area_wise_rmse_5[6][1]), 2), round(float(area_wise_rmse_5[6][2]), 2), round(float(area_wise_rmse_5[6][3]), 2), round(float(area_wise_rmse_5[6][4]), 2)]

csv_content.to_csv('Generated_CSV/area_wise_5.csv', index=False)

### Density Wise Regression

In [11]:
density_wise_mae_5 = [[0.7504166666666666, 0.7590625, 0.8592105263157894, 1.198888888888889, 2.175238095238095],
[0.10833333531793739, 0.16599697260351373, 0.23784289733365377, 0.562753447535215, 0.6255855693681431],
[0.907458005609414, 0.8706943364733859, 0.7013745150327805, 0.6913628234050769, 0.6685949027498322],
[1.009260326329219, 1.0114929568130315, 1.0091228895464741, 1.0119020207173066, 1.0061543548689953],
[1.0008697867393495, 0.8263939568870947, 0.7142001723511813, 0.63288217918171, 0.6616474531421932],
[0.5676405684017102, 0.5625450120313766, 0.5427368772001956, 0.5271858759535656, 0.5198325910537831],
[0.45513802178274015, 0.4988949198118398, 0.5029850500967876, 0.49522058430225446, 0.49928108691209755]]

density_wise_rmse_5 = [[0.9140113055464175, 0.974839730417262, 1.1526856512190633, 1.837570860311696, 3.6502446101988446],
[0.35856858092656285, 0.4708570360646125, 0.567578905405893, 0.8655132471871773, 1.1538818424213642],
[0.9526059025690603, 0.9331100344939958, 0.8374810535366042, 0.831482304926014, 0.817676526965176],
[1.0180166184270014, 1.0308550058526036, 1.0295316162716464, 1.0470483040990453, 1.0553845373207644],
[1.181355535984039, 2.0445310163382295, 1.082768593644017, 0.9346671834143081, 0.9071599107331113],
[0.6545780478389036, 0.6455257212848353, 0.6198188930335795, 0.5998932031260629, 0.5838326735264758],
[0.5223206621540247, 0.5449574541013561, 0.548647276514846, 0.5421203704474344, 0.5460338785192168]]

In [12]:
csv_content = pd.DataFrame(columns=['', '', 'Very Low', 'Low', 'Medium', 'High', 'Very High'])

csv_content.loc[0] = ['Deepcrime', 'MAE', round(float(density_wise_mae_5[0][0]), 2), round(float(density_wise_mae_5[0][1]), 2), round(float(density_wise_mae_5[0][2]), 2), round(float(density_wise_mae_5[0][3]), 2), round(float(density_wise_mae_5[0][4]), 2)]
csv_content.loc[1] = ['', 'RMSE', round(float(density_wise_rmse_5[0][0]), 2), round(float(density_wise_rmse_5[0][1]), 2), round(float(density_wise_rmse_5[0][2]), 2), round(float(density_wise_rmse_5[0][3]), 2), round(float(density_wise_rmse_5[0][4]), 2)]

csv_content.loc[2] = ['AIST', 'MAE', round(float(density_wise_mae_5[1][0]), 2), round(float(density_wise_mae_5[1][1]), 2), round(float(density_wise_mae_5[1][2]), 2), round(float(density_wise_mae_5[1][3]), 2), round(float(density_wise_mae_5[1][4]), 2)]
csv_content.loc[3] = ['', 'RMSE', round(float(density_wise_rmse_5[1][0]), 2), round(float(density_wise_rmse_5[1][1]), 2), round(float(density_wise_rmse_5[1][2]), 2), round(float(density_wise_rmse_5[1][3]), 2), round(float(density_wise_rmse_5[1][4]), 2)]

csv_content.loc[4] = ['MIST', 'MAE', round(float(density_wise_mae_5[2][0]), 2), round(float(density_wise_mae_5[2][1]), 2), round(float(density_wise_mae_5[2][2]), 2), round(float(density_wise_mae_5[2][3]), 2), round(float(density_wise_mae_5[2][4]), 2)]
csv_content.loc[5] = ['', 'RMSE', round(float(density_wise_rmse_5[2][0]), 2), round(float(density_wise_rmse_5[2][1]), 2), round(float(density_wise_rmse_5[2][2]), 2), round(float(density_wise_rmse_5[2][3]), 2), round(float(density_wise_rmse_5[2][4]), 2)]

csv_content.loc[6] = ['STHSL', 'MAE', round(float(density_wise_mae_5[3][0]), 2), round(float(density_wise_mae_5[3][1]), 2), round(float(density_wise_mae_5[3][2]), 2), round(float(density_wise_mae_5[3][3]), 2), round(float(density_wise_mae_5[3][4]), 2)]
csv_content.loc[7] = ['', 'RMSE', round(float(density_wise_rmse_5[3][0]), 2), round(float(density_wise_rmse_5[3][1]), 2), round(float(density_wise_rmse_5[3][2]), 2), round(float(density_wise_rmse_5[3][3]), 2), round(float(density_wise_rmse_5[3][4]), 2)]

csv_content.loc[8] = ['STSHN', 'MAE', round(float(density_wise_mae_5[4][0]), 2), round(float(density_wise_mae_5[4][1]), 2), round(float(density_wise_mae_5[4][2]), 2), round(float(density_wise_mae_5[4][3]), 2), round(float(density_wise_mae_5[4][4]), 2)]
csv_content.loc[9] = ['', 'RMSE', round(float(density_wise_rmse_5[4][0]), 2), round(float(density_wise_rmse_5[4][1]), 2), round(float(density_wise_rmse_5[4][2]), 2), round(float(density_wise_rmse_5[4][3]), 2), round(float(density_wise_rmse_5[4][4]), 2)]

csv_content.loc[10] = ['CF', 'MAE', round(float(density_wise_mae_5[5][0]), 2), round(float(density_wise_mae_5[5][1]), 2), round(float(density_wise_mae_5[5][2]), 2), round(float(density_wise_mae_5[5][3]), 2), round(float(density_wise_mae_5[5][4]), 2)]
csv_content.loc[11] = ['', 'RMSE', round(float(density_wise_rmse_5[5][0]), 2), round(float(density_wise_rmse_5[5][1]), 2), round(float(density_wise_rmse_5[5][2]), 2), round(float(density_wise_rmse_5[5][3]), 2), round(float(density_wise_rmse_5[5][4]), 2)]

csv_content.loc[12] = ['HAGEN', 'MAE', round(float(density_wise_mae_5[6][0]), 2), round(float(density_wise_mae_5[6][1]), 2), round(float(density_wise_mae_5[6][2]), 2), round(float(density_wise_mae_5[6][3]), 2), round(float(density_wise_mae_5[6][4]), 2)]
csv_content.loc[13] = ['', 'RMSE', round(float(density_wise_rmse_5[6][0]), 2), round(float(density_wise_rmse_5[6][1]), 2), round(float(density_wise_rmse_5[6][2]), 2), round(float(density_wise_rmse_5[6][3]), 2), round(float(density_wise_rmse_5[6][4]), 2)]

csv_content.to_csv('Generated_CSV/density_wise_5.csv', index=False)

### Density Wise Classification

In [4]:
density_wise_macro_5 = [
    [0.4105863612535765, 0.42534432226997143, 0.437808277036247, 0.41807797619605913, 0.42405779134980615],
    [0.45159135358552244, 0.4767697048982703, 0.45505010459336365, 0.5118144506363641, 0.6299667349599127],
    [0.006790950543836918, 0.010081258433005103, 0.018985903635644074, 0.021851148889756235, 0.03630266930830316],
    [0.3671833019919736, 0.3717586486573486, 0.3594599681880274, 0.3320027131599546, 0.32146460576084446],
    [0.1953376756430335, 0.24963936336929696, 0.34979897344477456, 0.4427296269142901, 0.5995333162570446],
    [0.257819320254803, 0.27992913791034846, 0.36510880060512746, 0.3690076858246723, 0.49552425550762225],
]

density_wise_micro_5 = [
    [0.5325000000000001, 0.54125, 0.5621052631578947, 0.5522222222222222, 0.5499999999999999],
    [0.6493506493506493, 0.5744047619047619, 0.56265664160401, 0.7301587301587301, 0.8628117913832201],
    [0.007193732896384447, 0.010601439191061365, 0.01954092483231977, 0.021748106327411122, 0.033549741589877675],
    [0.5699337042816816, 0.578747095923593, 0.5704238245777813, 0.5247528091029091, 0.4715382163884401],
    [0.24384578602549667, 0.3010494889488551, 0.4271354119389984, 0.4977949755544339, 0.6498133045095152],
    [0.2881346577527524, 0.3201040525686885, 0.3930491516817825, 0.39693164107129086, 0.5182735215770942],
]

In [9]:
csv_content = pd.DataFrame(columns=['', '', 'Very Low', 'Low', 'Medium', 'High', 'Very High'])

csv_content.loc[0] = ['Deepcrime', 'MacroF1', round(float(density_wise_macro_5[0][0]), 2), round(float(density_wise_macro_5[0][1]), 2), round(float(density_wise_macro_5[0][2]), 2), round(float(density_wise_macro_5[0][3]), 2), round(float(density_wise_macro_5[0][4]), 2)]
csv_content.loc[1] = ['', 'MicroF1', round(float(density_wise_micro_5[0][0]), 2), round(float(density_wise_micro_5[0][1]), 2), round(float(density_wise_micro_5[0][2]), 2), round(float(density_wise_micro_5[0][3]), 2), round(float(density_wise_micro_5[0][4]), 2)]

csv_content.loc[2] = ['AIST', 'MacroF1', round(float(density_wise_macro_5[1][0]), 2), round(float(density_wise_macro_5[1][1]), 2), round(float(density_wise_macro_5[1][2]), 2), round(float(density_wise_macro_5[1][3]), 2), round(float(density_wise_macro_5[1][4]), 2)]
csv_content.loc[3] = ['', 'MicroF1', round(float(density_wise_micro_5[1][0]), 2), round(float(density_wise_micro_5[1][1]), 2), round(float(density_wise_micro_5[1][2]), 2), round(float(density_wise_micro_5[1][3]), 2), round(float(density_wise_micro_5[1][4]), 2)]

csv_content.loc[4] = ['MIST', 'MacroF1', round(float(density_wise_macro_5[2][0]), 2), round(float(density_wise_macro_5[2][1]), 2), round(float(density_wise_macro_5[2][2]), 2), round(float(density_wise_macro_5[2][3]), 2), round(float(density_wise_macro_5[2][4]), 2)]
csv_content.loc[5] = ['', 'MicroF1', round(float(density_wise_micro_5[2][0]), 2), round(float(density_wise_micro_5[2][1]), 2), round(float(density_wise_micro_5[2][2]), 2), round(float(density_wise_micro_5[2][3]), 2), round(float(density_wise_micro_5[2][4]), 2)]

csv_content.loc[6] = ['STHSL', 'MacroF1', round(float(density_wise_macro_5[3][0]), 2), round(float(density_wise_macro_5[3][1]), 2), round(float(density_wise_macro_5[3][2]), 2), round(float(density_wise_macro_5[3][3]), 2), round(float(density_wise_macro_5[3][4]), 2)]
csv_content.loc[7] = ['', 'MicroF1', round(float(density_wise_micro_5[3][0]), 2), round(float(density_wise_micro_5[3][1]), 2), round(float(density_wise_micro_5[3][2]), 2), round(float(density_wise_micro_5[3][3]), 2), round(float(density_wise_micro_5[3][4]), 2)]

csv_content.loc[8] = ['CF', 'MacroF1', round(float(density_wise_macro_5[4][0]), 2), round(float(density_wise_macro_5[4][1]), 2), round(float(density_wise_macro_5[4][2]), 2), round(float(density_wise_macro_5[4][3]), 2), round(float(density_wise_macro_5[4][4]), 2)]
csv_content.loc[9] = ['', 'MicroF1', round(float(density_wise_micro_5[4][0]), 2), round(float(density_wise_micro_5[4][1]), 2), round(float(density_wise_micro_5[4][2]), 2), round(float(density_wise_micro_5[4][3]), 2), round(float(density_wise_micro_5[4][4]), 2)]

csv_content.loc[10] = ['HAGEN', 'MacroF1', round(float(density_wise_macro_5[5][0]), 2), round(float(density_wise_macro_5[5][1]), 2), round(float(density_wise_macro_5[5][2]), 2), round(float(density_wise_macro_5[5][3]), 2), round(float(density_wise_macro_5[5][4]), 2)]
csv_content.loc[11] = ['', 'MicroF1', round(float(density_wise_micro_5[5][0]), 2), round(float(density_wise_micro_5[5][1]), 2), round(float(density_wise_micro_5[5][2]), 2), round(float(density_wise_micro_5[5][3]), 2), round(float(density_wise_micro_5[5][4]), 2)]

csv_content.to_csv('Generated_CSV/density_wise_5_c.csv', index=False)

### Area wise classification

In [10]:
area_wise_macro_5 = [
    [0.442006116643469, 0.42270913055514636, 0.4247756983241366, 0.42143533340556627, 0.41637228194262776],
[0.46096487830060723, 0.5004704930049264, 0.47513436566971, 0.5244693891459647, 0.6050258739005978],
[0.008184972628742881, 0.018195254054241126, 0.018718110846551554, 0.02657157589208564, 0.02692537022536156],
[0.3917226007510825, 0.37116356399633005, 0.2946464376581327, 0.3216676873922451, 0.3821944830904273],
[0.2014906731958868, 0.3863095057663941, 0.3849932036738754, 0.4729305824111034, 0.43463855804422835],
[0.24630902436341034, 0.3594790846416752, 0.37015365452040316, 0.42397005117525727, 0.40999402175780403]
]

area_wise_micro_5 = [
    [0.5626923076923077, 0.5423529411764706, 0.5456666666666667, 0.5497222222222223, 0.5453571428571429],
[0.5972222222222222, 0.6036414565826331, 0.6825396825396826, 0.7711640211640212, 0.726190476190476],
[0.008421689659307794, 0.018355855901739184, 0.018340028722527588, 0.02508433397817051, 0.026302409317374265],
[0.6360614238559427, 0.5961181762010483, 0.43249595752243586, 0.46583633276541053, 0.5982676732868832],
[0.23266327520897645, 0.44527881316794693, 0.44524422934598257, 0.5296049829117657, 0.5127737659175018],
[0.27175782219397465, 0.3922771577266733, 0.4050379645572794, 0.4492994284946979, 0.438487199121974],
]

In [11]:
csv_content = pd.DataFrame(columns=['', '', 'Very Small', 'Small', 'Medium', 'Large', 'Very Large'])

csv_content.loc[0] = ['Deepcrime', 'MacroF1', round(float(area_wise_macro_5[0][0]), 2), round(float(area_wise_macro_5[0][1]), 2), round(float(area_wise_macro_5[0][2]), 2), round(float(area_wise_macro_5[0][3]), 2), round(float(area_wise_macro_5[0][4]), 2)]
csv_content.loc[1] = ['', 'MicroF1', round(float(area_wise_micro_5[0][0]), 2), round(float(area_wise_micro_5[0][1]), 2), round(float(area_wise_micro_5[0][2]), 2), round(float(area_wise_micro_5[0][3]), 2), round(float(area_wise_micro_5[0][4]), 2)]

csv_content.loc[2] = ['AIST', 'MacroF1', round(float(area_wise_macro_5[1][0]), 2), round(float(area_wise_macro_5[1][1]), 2), round(float(area_wise_macro_5[1][2]), 2), round(float(area_wise_macro_5[1][3]), 2), round(float(area_wise_macro_5[1][4]), 2)]
csv_content.loc[3] = ['', 'MicroF1', round(float(area_wise_micro_5[1][0]), 2), round(float(area_wise_micro_5[1][1]), 2), round(float(area_wise_micro_5[1][2]), 2), round(float(area_wise_micro_5[1][3]), 2), round(float(area_wise_micro_5[1][4]), 2)]

csv_content.loc[4] = ['MIST', 'MacroF1', round(float(area_wise_macro_5[2][0]), 2), round(float(area_wise_macro_5[2][1]), 2), round(float(area_wise_macro_5[2][2]), 2), round(float(area_wise_macro_5[2][3]), 2), round(float(area_wise_macro_5[2][4]), 2)]
csv_content.loc[5] = ['', 'MicroF1', round(float(area_wise_micro_5[2][0]), 2), round(float(area_wise_micro_5[2][1]), 2), round(float(area_wise_micro_5[2][2]), 2), round(float(area_wise_micro_5[2][3]), 2), round(float(area_wise_micro_5[2][4]), 2)]

csv_content.loc[6] = ['STHSL', 'MacroF1', round(float(area_wise_macro_5[3][0]), 2), round(float(area_wise_macro_5[3][1]), 2), round(float(area_wise_macro_5[3][2]), 2), round(float(area_wise_macro_5[3][3]), 2), round(float(area_wise_macro_5[3][4]), 2)]
csv_content.loc[7] = ['', 'MicroF1', round(float(area_wise_micro_5[3][0]), 2), round(float(area_wise_micro_5[3][1]), 2), round(float(area_wise_micro_5[3][2]), 2), round(float(area_wise_micro_5[3][3]), 2), round(float(area_wise_micro_5[3][4]), 2)]

csv_content.loc[8] = ['CF', 'MacroF1', round(float(area_wise_macro_5[4][0]), 2), round(float(area_wise_macro_5[4][1]), 2), round(float(area_wise_macro_5[4][2]), 2), round(float(area_wise_macro_5[4][3]), 2), round(float(area_wise_macro_5[4][4]), 2)]
csv_content.loc[9] = ['', 'MicroF1', round(float(area_wise_micro_5[4][0]), 2), round(float(area_wise_micro_5[4][1]), 2), round(float(area_wise_micro_5[4][2]), 2), round(float(area_wise_micro_5[4][3]), 2), round(float(area_wise_micro_5[4][4]), 2)]

csv_content.loc[10] = ['HAGEN', 'MacroF1', round(float(area_wise_macro_5[5][0]), 2), round(float(area_wise_macro_5[5][1]), 2), round(float(area_wise_macro_5[5][2]), 2), round(float(area_wise_macro_5[5][3]), 2), round(float(area_wise_macro_5[5][4]), 2)]
csv_content.loc[11] = ['', 'MicroF1', round(float(area_wise_micro_5[5][0]), 2), round(float(area_wise_micro_5[5][1]), 2), round(float(area_wise_micro_5[5][2]), 2), round(float(area_wise_micro_5[5][3]), 2), round(float(area_wise_micro_5[5][4]), 2)]

csv_content.to_csv('Generated_CSV/area_wise_5_c.csv', index=False)